# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
ENV/
env/

# IDEs
.vscode/
.idea/

# Distribution / Packaging
dist/
build/
*.egg-info/

# Logs
*.log

# Environment Variables
.env

# Testing
.pytest_cache/
.coverage
htmlcov/
tests/output/
scripts/
config.yaml

# Data
data/
characters_data/
